/* -------  General Styles ------- */

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 10px 10px 10px;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

p {
    line-height: 1.5em;
    margin: 0;
}

/* ---  Groups & Items --- */

.group {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

.item-btn {
    flex: 0 0 100%;
}

.item {
    flex: 1;
}

.item-double {
    flex: 2;
}

.item,
.item-double {
    margin: 10px;
}

/* -------  Navigation ------- */
header {
    display: flex;
    flex-flow: column;
    align-items: stretch;

    background-color: #ff385c;
    padding: 20px;
    text-align: center;
}

.logo {
    font-family: "Pangolin", cursive;
    font-size: 2rem;
    color: #fff;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
}

header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
    cursor: pointer;
}

/* Section */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding-top: 30px;
    padding-bottom: 30px;
}

section img {
    max-width: 100%;
}

section.alternate-background {
    background-color: #00a699;
    color: #fff;
}

/* -------  Search Form ------- */
form {
    border: 2px solid #ff385c;
    padding: 10px;
}

form.group {
    width: 90%;
    margin: 0 20px 20px 20px;
}

form > .group {
    flex-flow: row wrap;
    justify-content: space-between;
}

form > .item {
    width: 100%;
}

form label {
    font-weight: bold;
}

form select,
form input {
    margin-bottom: 20px;
    width: 180px;
}

form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%;
}

/* -------  Footer ------- */

footer {
    background-color: #ff385c;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* mobilefirst view */

@media (mid-width: 480px) {
    
    header {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    main > section {
        flex-flow: row wrap;
    }
    
    h2 {
        flex: 0 0 100%;
    }
    
    h3 {
        padding: 0;
    }
    
    .group {
        flex-flow: row wrap;
    }
    
    form > .group {
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    input.item,
    input.item-double,
    select.item,
    select.item-double {
        margin: 0 10px 10px 10px;
    }
    
    form > .group label {
        margin: 10px 10px 0 10px;
    }
    
    .item {
        flex: 1 1;
    }
    
    .item-btn {
        flex: 1 1;
    }
    
    .item-double {
        flex: 2 2;
    }

}